body {
  background: #ebebeb;
}
.content-wrapper {
 margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  width: 250px;
  border-radius: 5px;
}

.card__wrapper {
  width: 100%;
}
.card__city {
  background-color: #002761;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.card__img {
  position: relative;
  background-size: cover;
  background-position: bottom;
  height: 200px;
}
.card__rates {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: left;
  background-color: #f7f76a;
  line-height: 20px;
  border-radius: 5px;
}
.card__rates::before {
  content: url("./star.svg");
  display: inline-block;
  width: 15px;
  margin-right: 5px;
  padding-left: 5px;
}

.name-wrapper {
  background: #a6c8fc;
  position: relative;
  margin: 0;
  height: 25px;
  margin-top: -5px;
}

.card__name {
  font-weight: 600;
  padding-left: 10px;
  margin-top: 0;
  line-height: 25px;
  overflow: hidden;
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__price {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  line-height: 25px;
  font-size: larger;
}

.card__price::after {
  content: "€";
  padding-right: 10px;
  margin-left: 5px;
}
.comfort-list {
 margin: 10px;
 text-align: justify;
 color: gray;
 overflow-y: hidden;
 height: 76px;
 line-height: 20px;
}
.card__language {
  color:#009cb8;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
.card__language::before {
  content: "";
  background-image: url("./earth.svg");
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  background-size: 20px;
  filter: invert(1);
  background-color: tomato;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  height: 35px;
  width: 80%;
  margin: 0 auto;
}
.search-input {
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-btn {
  width: 20%;
  background: #f7f76a;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius:0 5px 5px 0;
  filter: drop-shadow(1px 2px 2px gray);
  transition: all 150ms ease-in-out;
  outline: none;
}

.search-btn:hover {
  background: #e6e632;
}

.search-btn:active {
  filter: none;
}
.search-result {
  color: #808080;
  text-align: center;
}
.search-result>p {
  margin-top: 5px;
  font-size: 14px;
}
.about-us-plug {
  text-align: center;
}
.error-block {
  text-align: center;
}
